
  @import "bootstrap-sprockets";
  @import "bootstrap";

body {
  margin-top: 70px;
}

.layout-title {
  font-family: 'Patrick Hand', cursive;
  font-size: 2.5em !important;
}

.title-font {
  font-family: 'Patrick Hand', cursive;
}

.product-header {
  margin-left: 15%;
}

.jumbotron {
  background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(173,173,173,1) 50%, rgba(250,250,250,1) 100%);
}

.shopping-cart-button {
  color: white;
}
.navbar-inverse {
  background-color: #024157;
}


.navbar-inverse .text {
  color: white;
  padding: 24px 10px 24px 0;
  font-size: 1.05em;
}

.navbar-btn{
  margin-right:5px;
}

.navbar-brand{
  font-size: 24px;
  margin-right: 50px;
 }

#dropdownMenu1 {
  color:white;
  font-size: 24px;
}

.dropdown-menu a {
  width:264px;
  text-align:center;
}

.well {
  margin-top: 10px;
}

h4 {
  display: inline-block;
}
