<p>
  <strong> Name:</strong>
  <%= @category.name %>
</p>



<%= link_to 'Edit', edit_category_path(@category), :class => "crud-link" %>
<%= link_to 'Back to All Categories', categories_path,  :class => "crud-link" %>
