<div class="jumbotron text-center">
  <h1><%= @category.name %></h1>
<% if admin?  %>
   <%= link_to 'Edit', edit_category_path(@category), :class => "pull-right" %>
<% end %>
</div>

<%= render partial: "products/tile", collection: @products %>


